<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script src="js/jquery.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>

</head>
<body>

<div class="jumbotron text-center">
    <h1>Shaping Up With Angular</h1>
</div>
<div class=" container">
    <div ng-controller="StoreController as store">
        <div ng-repeat="product in store.products">
            <h1>{{product.name}}</h1>
            <h2>{{product.price}}</h2>
            <p>{{product.description}}</p>
            <button ng-show="store.product.canPurchase">Add to Cart</button>
            <section ng-controller="PanelController as panel">
                <ul class="nav nav-pills">
                    <li ng-class="{active:panel.isSelected(1)}"><a ng-click="panel.selectTab(1)" href="">Description</a> </li>
                    <li ng-class="{active:panel.isSelected(2)}"><a ng-click="panel.selectTab(2)" href="">Specifications</a> </li>
                    <li ng-class="{active:panel.isSelected(3)}"><a ng-click="panel.selectTab(3)" href="">Reviews</a> </li>
                </ul>
            </section>
            <div class="panel" ng-show="panel.isSelected(1)">
                <h4>Description</h4>
                <p>{{product.description}}</p>
            </div>
            <div class="panel" ng-show="panel.isSelected(2)">
                <h4>Specifications</h4>
                <p>Non yet</p>
            </div>
            <div class="panel" ng-show="panel.isSelected(3)">
                <h4>Reviews</h4>
                <p>Non yet</p>
            </div>
       </div>
    </div>


</div>
</body>
</html>
