<html lang="en" ng-app="store" ng-controller="menuCtrl">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script src="js/jquery.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>

    <script type="text/ng-template" id="communityTree">
        {{ comm.communityname }}
        <ul ng-if="comm.tree">
            <li ng-repeat="comm in comm.tree" ng-include="'communityTree'">
            </li>
        </ul>
    </script>

</head>
<body>
<h1>Menu</h1>



<ul>
    <li ng-repeat="comm in communities" ng-include="'communityTree'"></li>
</ul>

</body>
</html>
<!--

<ul>
    <li ng-repeat="comm in communities">{{ comm.communityname }}
        <ul ng-if="comm.tree">
            <li ng-repeat="child in comm.tree">
                {{ child.communityname }}
            </li>
        </ul>
    </li>
</ul>
</body>
-->
